Repository artiso-solutions/adsd-hotel, pull requests merged in 2020-11, with the labels that each got.

#32 Updates README links.
  README.md
Labels: documentation

#42 [Blue] Database access
  services/blue/src/api/DatabaseAccess/DbConnectionHolder.cs
  services/blue/src/api/DatabaseAccess/IDbConnectionFactory.cs
  services/blue/src/api/DatabaseAccess/IDbConnectionHolder.cs
  services/blue/src/api/DatabaseAccess/MySqlConnectionFactory.cs
  services/blue/src/api/Handlers/AvailabilityHandler.cs
  services/blue/src/api/Handlers/ConfirmSelectedRoomTypeHandler.cs
  services/blue/src/api/Handlers/RoomTypeSelectionHandler.cs
  services/blue/src/api/Internals/DatabaseTableNames.cs
  services/blue/src/contracts/BedType.cs
  services/blue/tye.yaml
Labels: service-blue

#44 [Blue] Database initialization
  services/blue/src/api/DatabaseAccess/DatabaseConfiguration.cs
  services/blue/src/api/DatabaseAccess/DatabaseExtensions.cs
  services/blue/src/api/DatabaseAccess/Migrations/01.Schemas.cs
  services/blue/src/api/DatabaseAccess/Migrations/02.Relationships.cs
  services/blue/src/api/DatabaseAccess/Migrations/03.Catalogs.cs
  services/blue/src/api/DatabaseAccess/Migrations/04.ViewRoomTypes.cs
  services/blue/src/api/DatabaseAccess/Migrations/05.ViewReservations.cs
  services/blue/src/api/DatabaseAccess/MySqlConnectionFactory.cs
  services/blue/src/api/DatabaseAccess/MySqlDatabaseInitializer.cs
  services/blue/src/api/Handlers/AvailabilityHandler.cs
  services/blue/src/api/Handlers/ConfirmSelectedRoomTypeHandler.cs
  services/blue/src/api/Handlers/RoomTypeSelectionHandler.cs
  services/blue/src/api/Internals/DatabaseTableNames.cs
  services/blue/src/api/Program.cs
  services/blue/src/api/artiso.AdsdHotel.Blue.Api.csproj
  services/blue/src/contracts/BedType.cs
  services/blue/src/contracts/PendingReservation.cs
  services/blue/src/contracts/Reservation.cs
  services/blue/src/contracts/RoomType.cs
  services/blue/tye.yaml
Labels: service-blue

#55 Add possibility to update guest information
  services/black/src/api/Handlers/RequestGuestInformationHandler.cs
  services/black/src/api/Handlers/SetGuestInformationHandler.cs
  services/black/src/events/GuestInformationSet.cs
  services/black/tests/SetGuestInformationHandlerTests.cs
  services/infrastructure/src/dataStorage/IDataStoreClient.cs
  services/infrastructure/src/mongoDataStorage/MongoDataStoreClient.cs
Labels: enhancement

#56 use .net5.0
  services/black/src/ambassador/BlackClient.cs
  services/black/src/ambassador/artiso.AdsdHotel.Black.Ambassador.csproj
  services/black/src/api/DatabaseModel/GuestInformationRecord.cs
  services/black/src/api/Dockerfile
  services/black/src/api/Handlers/RequestGuestInformationHandler.cs
  services/black/src/api/Program.cs
  services/black/src/api/artiso.AdsdHotel.Black.Api.csproj
  services/black/src/commands/GuestInformationRequest.cs
  services/black/src/commands/GuestInformationResponse.cs
  services/black/src/commands/SetGuestInformation.cs
  services/black/src/commands/artiso.AdsdHotel.Black.Commands.csproj
  services/black/src/contracts/artiso.AdsdHotel.Black.Contracts.csproj
  services/black/src/events/GuestInformationSet.cs
  services/black/src/events/artiso.AdsdHotel.Black.Events.csproj
  services/black/tests/artiso.AdsdHotel.Black.Tests.csproj
  services/global.json
  services/infrastructure/src/dataStorage/artiso.AdsdHotel.Infrastructure.DataStorage.csproj
  services/infrastructure/src/mongoDataStorage/artiso.AdsdHotel.Infrastructure.MongoDataStorage.csproj
  services/infrastructure/src/nservicebus/AdsdHotelMessageConventions.cs
  services/infrastructure/src/nservicebus/EndpointConfigurationExtensions.cs
  services/infrastructure/src/nservicebus/artiso.AdsdHotel.Infrastructure.NServiceBus.csproj
Labels: infrastructure

#54 [Blue] Use database
  services/blue/src/api/DatabaseAccess/DatabaseTableNames.cs
  services/blue/src/api/DatabaseAccess/DbConnectionHolder.cs
  services/blue/src/api/Handlers/AvailabilityHandler.cs
  services/blue/src/api/Handlers/ConfirmSelectedRoomTypeHandler.cs
  services/blue/src/api/Handlers/RoomTypeSelectionHandler.cs
  services/blue/src/api/QueryModels/BedTypeQueryModel.cs
  services/blue/src/api/QueryModels/QueryModelMapper.cs
  services/blue/src/api/QueryModels/RoomTypeQueryModel.cs
Labels: service-blue

#57 [Blue] .NET 5 and validation
  services/blue/artiso.AdsdHotel.Blue.sln
  services/blue/src/ambassador/artiso.AdsdHotel.Blue.Ambassador.csproj
  services/blue/src/api/DatabaseAccess/DatabaseExtensions.cs
  services/blue/src/api/DatabaseAccess/DbConnectionHolder.cs
  services/blue/src/api/DatabaseAccess/Migrations/03.Catalogs.cs
  services/blue/src/api/DatabaseAccess/Migrations/04.ViewRoomTypes.cs
  services/blue/src/api/Handlers/AvailabilityHandler.cs
  services/blue/src/api/Handlers/ConfirmSelectedRoomTypeHandler.cs
  services/blue/src/api/Handlers/RoomTypeSelectionHandler.cs
  services/blue/src/api/Program.cs
  services/blue/src/api/QueryModels/BedTypeQueryModel.cs
  services/blue/src/api/QueryModels/QueryModelMapper.cs
  services/blue/src/api/QueryModels/RoomTypeQueryModel.cs
  services/blue/src/api/Startup.cs
  services/blue/src/api/Validation.cs
  services/blue/src/api/artiso.AdsdHotel.Blue.Api.csproj
  services/blue/src/commands/AvailableRoomTypesRequest.cs
  services/blue/src/commands/ConfirmSelectedRoomType.cs
  services/blue/src/commands/Response.cs
  services/blue/src/commands/SelectRoomType.cs
  services/blue/src/commands/artiso.AdsdHotel.Blue.Commands.csproj
  services/blue/src/contracts/BedType.cs
  services/blue/src/contracts/PendingReservation.cs
  services/blue/src/contracts/Reservation.cs
  services/blue/src/contracts/Room.cs
  services/blue/src/contracts/RoomType.cs
  services/blue/src/contracts/artiso.AdsdHotel.Blue.Contracts.csproj
  services/blue/src/events/artiso.AdsdHotel.Blue.Events.csproj
  services/blue/src/requests/RequestAvailableRoomTypes.cs
  services/blue/src/requests/RequestRoomNumber.cs
  services/blue/src/requests/artiso.AdsdHotel.Blue.Requests.csproj
  services/blue/tye.yaml
Labels: service-blue

#60 [Blue] Api completion
  .editorconfig
  services/blue/src/api/DatabaseAccess/CommonQueries.cs
  services/blue/src/api/DatabaseAccess/DatabaseExtensions.cs
  services/blue/src/api/DatabaseAccess/DbConnectionHolder.cs
  services/blue/src/api/DatabaseAccess/Migrations/05.ViewReservations.cs
  services/blue/src/api/Handlers/AvailabilityHandler.cs
  services/blue/src/api/Handlers/ConfirmSelectedRoomTypeHandler.cs
  services/blue/src/api/Handlers/OrderSummaryHandler.cs
  services/blue/src/api/Handlers/RoomNumberHandler.cs
  services/blue/src/api/Handlers/RoomTypeSelectionHandler.cs
  services/blue/src/api/Validation.cs
  services/blue/src/commands/GetRoomNumberRequest.cs
  services/blue/src/commands/OrderSummaryRequest.cs
  services/blue/src/commands/Response.cs
  services/blue/tye.yaml
Labels: service-blue
